<div class="index-container">
  <h1>Applications</h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td><h2><%= application.name %></h2></td>
            <td><%= link_to 'Show', application_requests_path(application) %></td>
            <td><%= link_to 'Edit', edit_application_path(application) %></td>
            <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>


<br>

<%= link_to 'New application', new_application_path %>