<div class="index-container">
  <h1>Applications</h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td><h2><%= link_to application.name, application_requests_path(application) %></h2></td>
            <td><div class="btn btn-lg btn-success passing-icon"><%=application.successful_requests_count%> Successful</div></td>
            <td><div class="btn btn-lg btn-warning failing-icon"><%=application.failing_requests_count%> Failing</div></td>
            <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New application', new_application_path %>
</div>
