<div class="index-container">
	<div>
	  <h1><%=@request.name%></h1>
	</div>

	<% if @request.passing.class == TrueClass %>
		<div class="btn btn-lg btn-success passing-indicator">Success</div>
	<% else %>
		<div class="btn btn-lg btn-warning failure-indicator">Failure</div>
		<br>
		<h5 class="response-code-failure"><%=@request.response_code%></h5>
	<% end %>
	<br>
	<h6>Type: <%= @request.req_type %><h6>
	<br>
	<h6>
		Headers: <br><%= @request.headers %>
	</h6>
	<br>
	<% if @request.req_type == 'post' %>
		<h6>
			Body: <br><%= @request.body%>
		<br>
	<% end %>
	</h6>
	<div class="row">
		<hr>
		<%= link_to 'Edit', edit_application_request_path(:id => @request.id,:application_id => @request.application_id) %>
		<hr>
		<%= link_to 'My Requests', '/applications/'+(@request.application_id.to_s) %>
		<hr>
		<%= link_to 'Destroy', application_request_path(@request.application, @request), method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>

</div>
