
<div class="index-container">
	<div>
	  <h1><%=@request.name%></h1>
	</div>

	<% if @request.passing.class == TrueClass %>
		<div class="btn btn-lg btn-success passing-indicator">Success</div>
	<% else %>
		<div class="btn btn-lg btn-warning failure-indicator">Failure</div>
		<br>
		<h5 class="response-code-failure"><%=@request.response_code%></h5>
	<% end %>
	<br>
	<h6>Type: <%= @request.req_type %><h6>
	<br>
	<h6>
		Headers: <br><%= @request.headers %>
	</h6>
	<br>
	<h6>
		Body: <br><%= @request.body%>
	<br>
	</h6>
	<div class="row">
		<%= link_to 'Modify Request', '/applications/'+@request.application_id.to_s+'/requests/'+@request.id.to_s+"/edit" %> |
		<%= link_to 'Requests', '/applications/'+(@request.application_id.to_s) %>
		<br>
		<%= link_to 'Destroy', application_request_path(@request.application, @request), method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>

</div>
